*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

h1 {
    opacity: 55%;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'GASO';
    position: absolute;
    top: 20 px;
    left: 20px;
    font-size: 4em;
    font-weight: 900;
    color: rgb(139, 200, 241);
    font-size: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'LINE';
    position: absolute;
    margin-bottom: 50 px;
    right: 20px;
    font-size: 4em;
    font-weight: 900;
    color: rgb(247, 158, 158);
    font-size: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before, .container .box:hover::after {
    opacity: 0.4;
}

.container .box .name {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: rgb(134, 240, 175);
    width: 100%;
    transform-style: preserve-3d;
    transform: translate(0,0,75px);
    transition: 0.5s;
    opacity: 0;
}

.container .box:hover .name {
    top: 40px;
    opacity: 1;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%,0,75px);
    color: rgb(153, 163, 245);
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy {
    bottom: 30px;
    opacity: 1;
}

.container .box .circle {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    opacity: 1;
    transform: translate(-50%,-50%,50px);
}

.container .box .product {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%,0px) rotate(-15deg);
}   

.container .box:hover .product {
    transform: translate(-50%,-50%,100px) rotate(-15deg);
}

.container .box:nth-child(1) .circle
.container .box:nth-child(1) .buy {
    background: #379bf7;
}

.container .box:nth-child(2) .circle
.container .box:nth-child(2) .buy {
    background: #9bdc28;
}

.container .box:nth-child(3) .circle
.container .box:nth-child(3) .buy {
    background: #fb4b4f;
}


