
img {
    width: 20%;
}

.log {
    margin-bottom: 68px;
}

.fac {
    font-size: 2em;
    text-align: center;
}

th {
    padding: 0px;
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

p {
    min-width: 100%;
    margin: 0;
    text-align: left;
}

input {
    background-color: rgb(250, 248, 164);
}

button {
    border-radius: 4px;
    border: 8px solid #5af1ea;
    margin-left: 23%;
    margin-top: 5px;
}
.pie {
    visibility: hidden;
}
button:hover {
    border-radius: 8px;
    border: 8px double #edfc6d;
    box-shadow: 0 0 10px rgb(110, 228, 120), 0 0 15px rgb(110, 228, 120), 0 0 20px rgb(110, 228, 120);
}