*{
    margin: 0;
    padding: 0;
    
}

table {
    background-color: #e1e0e0;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #5dd2a3;
    border-bottom: 4px solid #5dd2a3;
    border-collapse: collapse;
    
}

.tit {
    color:#5a6862;
    padding-bottom: 30px;
    margin-top: center; 
    text-align: center;   
} 

th, td {
    border: solid 1px rgb(129, 129, 130);
    text-align: center;
}

.T {
    background-color: rgb(155, 244, 214); 
}

.D {
    background-color: rgb(213, 250, 238);
}



