*{
    margin: 0;
    padding: 0;
    
}

table {
    border-collapse: collapse;
}

body {
    justify-content: center;  
     
}

th, td {
    border: solid 1px rgb(129, 129, 130);
    text-align: center;
}

.T {
    background-color: rgb(155, 244, 214);
    
}

.D {
    background-color: rgb(213, 250, 238);
    
}

