
    * {
        margin: 0;
        padding: 0;
    }

 nav {
    font-size: 20px;
 
 }


hr {
    color: rgb(208, 209, 212);
    opacity: 50%;
    margin-right: 80%;
}

img {
    margin-right: 20px;
    margin-left: 15px;
}
    .k {
    padding-top: 200px;
    block-size: 50px;
    margin: 1px 1px 1px 1px;
    }

    .a {

        block-size: 50px;
        margin: 1px 1px 1px 1px;
    }

    .y {
        block-size: 50px;
        margin: 1px 1px 1px 1px;
    }

    .A {
        block-size: 50px;
        margin: 1px 1px 1px 1px;
    }

    .K {
        block-size: 50px;
        margin: 1px 1px 1px 1px;
    }


